{% extends 'templateback.html.twig' %}
{% block titre%}
    <h1>Ls information de Reclamation</h1>
{% endblock %}
{% block body %}
    <div class="alert alert-success">
        {{ reclamation.nom }} {{ reclamation.prenom }} {{ reclamation.email }}
    </div>
{% endblock %}