<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Resume</title>
</head>
<body>
    <div style="margin: 0 auto;display: block;width: 500px;">
        <table width="100%" border="1">
           
            <tr>
                <td>title:</td>
                <td>{{title}}</td>
            </tr>
            <tr>
                <td>description:</td>
                <td>{{description}}</td>
            </tr>
            <tr>
                <td>published:</td>
                <td>{{published}}</td>
            </tr>
            <tr>
                <td>commentaire:</td>
                <td>{{commentaire}}</td>
            </tr>
        </table>
    </div>
</body>
</html>