{% extends 'templateback.html.twig' %}
{% block titre%}
    <h1>Les information de response</h1>
{% endblock %}
{% block body %}
    <div class="alert alert-success">
        {{ response.id }} {{ response.description }}
    </div>
{% endblock %}